<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Bundle Name="Hello" Version="$(var.Version)" Manufacturer="Werner Strydom" UpgradeCode="5e54d4b5-3cc7-49dd-bbe4-48bfa86ef7f7">
		<BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense" />
		<Chain>
			<MsiPackage SourceFile="$(var.MsiPackagePath)" /> 
		</Chain>
	</Bundle>
</Wix>
